server {

    listen 80;
    listen [::]:80;

    server_name app.test;
    root /var/www/app;
    index index.html index.htm;

    location / {
         try_files $uri $uri/ @uwsgi;
    }

    location @uwsgi {
        uwsgi_pass uwsgi:5000;
        include uwsgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/app_error.log;
    access_log /var/log/nginx/app_access.log;
}
